.dark_body
{
  color: $dark_blue_text_color;
  background: $dark_blue;
}

.dark_white_button
{
  @include button-variant(#ffffff, #20515b, #20515b);
  letter-spacing: 1px;
}

.dark_white_button:hover {
  color: #20515b;
  background-color: #ffffff;
  border-color: #20515b;
}

.dark_button
{
  @include button-variant(#ffffff, $dark_l_text_color, #2B3964);
  letter-spacing: 1px;
}

.dark_button-clear
{
  @include button-variant(#ffffff, transparent, transparent);
  letter-spacing: 1px;
}
