//Default Colors
$_green: #53c73f;
$_yellow: #f4e213;
$_orange: #fc7319;
$_red: #e2110b;
$_blue: #00bbc7;
$_white: #ffffff;
$_black: #000000;
$button_default_color: $_white;
$button_default_bg: $_blue;
$button_default_border: darken($button_default_bg, 5%);
$button_success_color: $_white;
$button_success_bg: $_green;
$button_success_border: darken($button_success_bg, 5%);
$button_danger_color: $_white;
$button_danger_bg: $_red;
$button_danger_border: darken($button_danger_bg, 5%);
$button_warning_color: $_white;
$button_warning_bg: $_orange;
$button_warning_border: darken($button_warning_bg, 5%);
$button_info_color: $_white;
$button_info_bg: $_yellow;
$button_info_border: darken($button_info_bg, 5%);

$dark_blue: #2b2e3b;
$dark_blue_text_color: #74b1be;
$dark_l_blue: #c0c4d8;
$dark_l_text_color: #464d72;
$dark_text_color: #9feaf9;


//Spacing
$_max_content_width: 1000px; //max width
$_max_grid_columns: 12;

//max columns
$_margin_b_columns: 0.000003%;

//Margin between columns
//HTML Elements
$_link_color: $_blue;
$_link_hover_color: lighten($_blue, 20%);
$_font_family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
$_font_family_g: 'Lato', sans-serif;

//Size & weight & padding
$font_size_default: 14px;
$line_height_default: 1.4em;
$_buttons_font_weight: 400; //With $_font_family_g
$_button_radius_default: 4px;
$_padding_vertical: 0;
$_padding_horizontal: 30px;

//Buttons size
$_button_padding_extra_large_vertical: 0;
$_button_padding_extra_large_horizontal: 60px;
$_button_padding_large_vertical: 0;
$_button_padding_large_horizontal: 40px;
$_button_padding_small_vertical: 5px;
$_button_padding_small_horizontal: 10px;
$_button_padding_extra_small_vertical: 1px;
$_button_padding_extra_small_horizontal: 5px;
